		.inner_c{
			width: 1336px;
			margin: 0 auto;
		}
		/*banner*/
		.hd .banner{
			height: 432px;
			width: 1349px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
		}
		.hd .banner li{
			display: none;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -683px;
		}
		.hd .banner li.current{
			display: block;
			z-index: 2;
		}
		.hd .banner img{
			width: 1366px;
		/*	background-attachment: fixed;*/
		}
		/*banner里左右按钮*/
		.banner .btn a{
			display: block;
			width: 26px;
			height: 44px;
			font-size: 35px;
			line-height: 44px;
			position: absolute;
			z-index: 3;
			color: #666;
			text-decoration: none;
			background-color: rgba(255,255,255,0.1);
		}
		.banner .btn a:hover{
			background-color: rgba(255,255,255,0.5);
		}
		.banner .btn .left{
			position: absolute;
			left: 0;
			top: 249px;
		}
		.banner .btn .right{
			position: absolute;
			right: 0;
			top: 249px;
		}
		/*banner txt区域*/
		.banner .txt{
			font-weight: 700;
		}
		.banner .txt h1{
			position: absolute;
			top: 24px;
			left: 151px;
			color: #fff;
			font-size: 40px;
			font-family: "Microsoft Yahei";
			z-index:4;
			font-weight: 700;
		}
		.banner .txt p{
			color: #FFF;
			font-size: 52px;
			font-weight: 700;
			position: absolute;
			top: 176px;
			left: 338px;
			z-index: 4;
		}
		.banner .txt span{
			color: #FFF;
			font-size: 22px;
			position: absolute;
			top: 343px;
			left: 338px;
			z-index: 4;
		}
		.banner .kuang{
			width: 320px;
			height: 430px;
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			top: 82px;
			right: 135px;
			z-index: 5;
		}
		.banner .kuang p{
			color: #FFF;
			margin-left: 67px;
			margin-top: 33px;
			margin-bottom: 27px;
		}
		.banner .kuang input{
			width: 266px;
			height: 44px;
			border: 1px solid #DAD7C8;
			margin-left: 25px;
			margin-bottom: 20px;
		}

		.banner .kuang input.last{
			background: #FFCF71;
			border: 0;
			outline: 0;
			text-align: center;
			line-height: 44px;
			cursor:pointer;
		}
		.banner .kuang input.last:hover{
			background: #FFB82C;
			color: #FFF;
		}
		.banner .kuang .shouji{
/*			overflow: hidden;*/
			width: 270px;
			height: 48px;
			margin-left: 25px;
			
		}
		.banner .kuang input.tp{
			width: 186px;
			float: right;
			display: block;
			margin-left: 0;
		}
		.banner .kuang .shouji span{
			display: block;
			float: left;
			width: 79px;
			height: 44px;
			background: #FFF;
			border: 1px solid #DAD7C8;
			background: url(../images/wework/sanjiao.png) 0 0;
		}
		.banner .kuang a{
			display: block;
			width: 266px;
			height: 44px;
		}
		.banner .kuang .txt1{
			position: absolute;
			top: 83px;
			left: -30px;
			color: #A9A9A9;
			font-size: 14px;
		}
		.banner .kuang .txt2{
			position: absolute;
			left: -30px;
			top: 148px;
			color: #A9A9A9;
			font-size: 14px;
		}
		.bd{
			width: 1349px;
			height: 550px;
			margin: 0 auto;
			/*border: 1px solid red;*/
			margin-top: 3px;
			position: relative;
			margin-bottom: 30px;
		}
		.bd .bg{
			background: url(../images/wework/page-02-bg.png) no-repeat ;
			height: 550px;
			width: 1349px;
			background-size: 100% auto;
		}
		.bd .txt1{
			width: 470px;
			height: 80px;
			background: #FECE78;
			color: #000;
			font-size: 32px;
			text-align: center;
			line-height: 80px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -235px;
			font-weight: 700;
		}
		.bd .txt2{
			width: 100%;
			height: 182px;
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.bd .txt2 ul{
			margin-right: 64px;
			margin-left: 105px;
			overflow: hidden;
		}
		.bd .txt2 ul li{
			width: 251px;
			height: 102px;
			border: 3px solid #FFCF71;
			float: left;
			margin-right: 38px;
			margin-top: 37px;
			color: #FFCF71;
			text-align: center;
			line-height: 51px;
			font-size: 22px;
		}
		.bd .txt2 ul li.last{
			margin: 0;
			margin-top: 37px;
		}
		/*body第二部分开始*/
		.bd_b{
			width: 1140px;
			height: 680px;
			margin-bottom: 72px;
		/*	background: pink;*/
		}
		.bd_b .box1{
			width: 100%;
			height: 325px;
			background: #FCF9EB;
			margin-bottom: 30px;
		}
		.bd_b .box2{
			width: 100%;
			height: 325px;
			background: #FCF9EB;

		}
		.bd_b .box1 .box_1_pic{
			width: 581px;
			height: 325px;
			float: left;
		}
		.bd_b .box1 .box_1_txt{
			float: left;
			font-size: 22px;
			line-height: 61px;
			color: #4A4A4A;
			margin-top: 60px;
			margin-left: 35px; 
		}
		.bd_b .box1 .box_1_txt li{
			padding-left: 19px; 
			background: url(../images/wework/kuai.png) no-repeat left center;
		}
		/*right部分*/

		.bd_b .box2 .box_2_txt{
			float: left;
			font-size: 22px;
			line-height: 61px;
			color: #4A4A4A;
			margin-top: 60px;
			margin-left: 35px; 
		}
		.bd_b .box2 .box_2_txt li{
			padding-left: 19px; 
			background: url(../images/wework/kuai.png) no-repeat left center;
		}
		.bd_b .box2 .box_2_pic{
			float: right;
		}
		/*bd第三部分*/
		.bd_3{
			width: 1297px;
			height: 660px;
			margin: 0 auto;
			position: relative;
			
		}
		.bd_3 .bg{
			margin: 0 auto;
			height: 660px;
			width: 1297px;
			background-size: 100% auto;
			background: url(../images/wework/page-04-bg.png) no-repeat rgba(0,0,0,0.5);
		}
		.bd_3 .content{
			width: 1297px;
			height: 660px;
			background: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		.bd_3 .content h3{
			width: 470px;
			height: 80px;
			background: #FECE78;
			color: #FFF;
			text-align: center;
			line-height: 80px;
			font-size: 34px;
			font-weight: 700;
			position: absolute;
			top: 0;
			margin-left: -235px;
			left: 50%;
		}
		.bd_3 .content p{
			width: 217px;
			height: 86px;
			color: #FFCF71;
			font-size: 30px;
			font-weight: 700;
			position: absolute;
			top: 252px;
			left: 50%;
			margin-left: -109px;
		}
		.bd_3 .content ul{
			width: 100%;
			height: 269px;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -648px;
			overflow: hidden;
		}
		.bd_3 .content ul li{
			width: 187px;
			height: 51px;
			padding-top: 126px;
			float: left;
			margin-right: 96px;
			text-align: center;
			color: #FFCF71;
			font-size: 24px;

		}
		.bd_3 .content ul li.li1{
			background: url(../images/wework/01.png) no-repeat center 0;
			margin-left: 145px;
		}
		.bd_3 .content ul li.li2{
			background: url(../images/wework/02.png) no-repeat center 0;
		}
		.bd_3 .content ul li.li3{
			background: url(../images/wework/03.png) no-repeat center 0;
		}
		.bd_3 .content ul li.li4{
			background: url(../images/wework/04.png) no-repeat center 0;
			margin-right: 0;
		}
		/*bd第四部分*/
		.bd_4{
			width: 100%;
			height: 575px;
			position: relative;
		}
		.bd_4 h3{
			width: 275px;
			height: 96px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -137px;
			color: #333333;
			background: #fff;
			font-size: 40px;
			text-align: center;
			line-height: 96px;
		}
		.bd_4 ul{
			width: 1357px;
			height: 430px;
			overflow: hidden;
			position: absolute;
			top: 144px;
			left: 50%;
			margin-left: -670px;
		}
		.bd_4 ul li{
			float: left;
			margin-right: 32px;
			position: relative;
		}
		.bd_4 ul li.last{
			margin-right: 0;
		}
		.bd_4 ul li.first{
			margin-left: 44px;
		}
		.bd_4 ul li p{
			position: absolute;
			bottom: 3px;
			left: 0;
			width: 289px;
			height: 79px;
			background: rgba(0,0,0,0.5);
			text-align: center;
			line-height: 79px;
			font-size: 23px;
			color: #FFF;
		}
		/*ft*/
		.ft{
			width: 100%;
			height: 80px;
			background: #292927;
			font-size: 10px;
			color: #fff;
			
		}
		.ft .inner_c{
			padding-left: 106px;
		}
		.ft .txt1{
			height: 41px;
			line-height: 41px;
		/*	margin-bottom: 15px;*/
			/*margin-top: 17px;*/
		}


